<!DOCTYPE html>
<html>
<head>
	<title>Configuration Page</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<h1>Configuration Page</h1>
	<form id="config-form" method="POST">
		<label for="Rmultiple">R-Multiple:</label>
		<input type="number" name="Rmultiple" id="Rmultiple" step="0.1" value="{{ config.Rmultiple }}"><br>

		<label for="MaxRisk">Maximum Risk:</label>
		<input type="number" name="MaxRisk" id="MaxRisk" step="1" value="{{ config.MaxRisk }}"><br>

		<label for="Contract">Contract:</label>
		<select name="Contract" id="Contract">
			<option value="MES" selected>E-Mini S and P Micro (MES)</option>
			<option value="ES">E-Mini S and P (ES)</option>

		</select>

		<label for="expiryMonth">ExpiryMonth (e.g. 202306):</label>
		<input type="text" name="expiryMonth" id="expiryMonth"><br>


		<input type="submit" value="save" formaction="/config" id="save-button" name="save_button">
		<input type="submit" value="cancel" formaction="/config" id="cancel-button">
	</form>

</body>
</html>

