<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

	<title>Trade-Generator</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function() {
  // Attach event listener to the form input fields
  $("input[name='stop'], input[name='target'], input[name='Rmultiple'], input[name='transaction-type']").on("input", function() {
    // Create an object to hold the form data
    var formData = {
      "stop": $("input[name='stop']").val(),
      "target": $("input[name='target']").val(),
      "Rmultiple": $("input[name='Rmultiple']").val(),
      "transactionType": $("input[name='transaction-type']").val()
    };

    // Send the form data to the Flask server using an AJAX request
    $.ajax({
      type: "POST",
      url: "/calculate_entry",
      contentType: "application/json", // Set the content type to JSON
      data: JSON.stringify(formData), // Convert the form data to a JSON object
      success: function(response) {
	console.log(response); //Print the response object to the console
        // Update the calculated entry value in the HTML
        $("#entry").val(response["entry"]);
        $("#entryCont").val(response["entryCont"]);
        $("#oneRScale").val(response["oneRScale"]);
        $("#oneRScaleCont").val(response["oneRScaleCont"]);
        $("#highProbCont").val(response["highProbCont"]);
      }
    });
  });
    // Set the default value for Rmultiple
    $("input[name='Rmultiple']").val({{ default_Rmultiple }});
   
});
</script>

</head>
<body>
	<h1>Trade-Generator</h1>

	<form id="Contract-Information">
	        <label for="ContName">Contract Name: </label>
		<input width="400" type="text" name="ContName" id="contName" value="{{ ContName }}" readonly><br>
	        <label for="expiry">Contract expiry: </label>
		<input type="text" name="Expiry" id="Expiry" value="{{ Expiry }}" readonly><br>

	        <label for="TickValue">Tick-Value (in USD): </label>
		<input type="number" name="TickValue" id="TickValue" value="{{ TickValue }}" readonly><br>
	</form>

	<div class="form-container">
	<form class="tradeform" id="entry-form">
                <label for="transaction-type">Transaction Type (click to change):</label>
                <input class="buy" type="text" id="transaction-type" name="transaction-type" value="BUY" readonly>
	        <label for="maxRisk">Maximum Risk (in USD): </label>
	        <input type="number" name="maxRisk" id="maxRisk" value="{{ maxRisk }}" readonly>

		<label for="Rmultiple">R-Multiple:</label>
		<input type="number" name="Rmultiple" id="Rmultiple" step="0.1" required value="{{ request.form.get('Rmultiple', default_Rmultiple) }}">

		<label for="stop">Stop:</label>
		<input type="number" name="stop" id="stop" step="0.25" required value="{{ request.form.get('stop', '') }}">

		<label for="target">High Probability Target:</label>
		<input type="number" name="target" id="target" step="0.25" required value="{{ request.form.get('target', '') }}">
		<label for="highProbCont">High Probability Target contracts:</label>
		<input type="number" name="highProbCont" id="highProbCont" step="1" value="{{ highProbCont }}">

		<label for="oneRScale">1R-Scale-Target:</label>
		<input type="number" name="oneRScale" id="oneRScale" step="0.25" value="{{ oneRScale }}">
		<label for="oneRScaleCont">1R-Scale Contracts:</label>
		<input type="number" name="oneRScaleCont" id="oneRScaleCont" step="1" value="{{ oneRScaleCont }}">

		<label for="entry-value">Calculated Entry:</label>
		<input type="number" name="entry" id="entry" step="0.25" value="{{ entry }}">
		<label for="entry-value">Entry Contracts:</label>
		<input type="number" name="entryCont" id="entryCont" step="1" value="{{ entryCont }}">

		<input type="submit" formaction="/submitTrade" method="get" value="Submit Trade">
	</form>
	</div>

	<br><br>

	<a href="/orders" class="button">update orders</a>
	<br><br>

	<a href="/config">Configure Settings</a>

  <script>
    const transactionType = document.querySelector('#transaction-type');

    transactionType.addEventListener('click', function() {
      if (transactionType.value === 'BUY') {
        transactionType.value = 'SELL';
        transactionType.classList.remove('buy');
        transactionType.classList.add('sell');
      } else {
        transactionType.value = 'BUY';
        transactionType.classList.remove('sell');
        transactionType.classList.add('buy');
      }
    });
  </script>
</body>
</html>

