<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Form</title>
</head>
<body>
    {% for parent_id, order in orders_by_parent_id.items() %}
        <form action="{{ url_for('update_order', parent_id=parent_id) }}" method="POST">
		<p>Parent ID: {{ parent_id }} Parent action: {{ order.parent_action }}</p>
            <p>Parent LMT: <input type="number" name="parent_lmt" step="0.25" value="{{ order.parent_lmt }}"></p>
            <p>Take Profit ID: <input type="number" name="take_profit_id" value="{{ order.take_profit_id }}" readonly></p>
            <p>Take Profit Limit 1: <input type="number" name="take_profit_limit_1" step="0.25" value="{{ order.take_profit_lmt1 }}"></p>
            <p>Take Profit Limit 2: <input type="number" name="take_profit_limit_2" step="0.25" value="{{ order.take_profit_lmt2 }}"></p>
            <p>Stop ID: <input type="number" name="stop_id" value="{{ order.stop_id }}" readonly></p>
            <p>Stop Limit: <input type="number" name="stop_limit" step="0.25" value="{{ order.stop_lmt }}"></p>
            <p><input type="submit" value="Update"></p>
        </form>
    {% endfor %}
</body>
</html>
